extends layout

block content

	section.content
		article.info
			h3 Welcome to IO66
			p We are a passionate community of coders who live in the coastal East Sussex area, looking to organize meetups, talks, and hacks - mostly related to web technology.
