header#header
	nav
		ul.menu
			li
				h1
					a(href="/") IO66
				h2= name
			li 
				a(href="/events") Events
			li 
				a(href="/about") About
			li 
				a(href="/members") Members
			li 
				a(href="/contact") Contact Us